#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.open-onboarding-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  width: 2rem;
  height: 2rem;
  border: 1px solid #ccc;
  color: #999;
  background: #fff;
  cursor: pointer;
  padding: 0;
  line-height: 1;
  font-weight: bold;
}

.environment-warning {
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: #fff3cd;
  color: #856404;
  border: 1px solid #ffeeba;
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: left;
}
